body{
    size: 100%;
}
article{
    width: 100%;
    min-width: 5em;
    max-width: 30em;
    background-color: red;
}
.article__card{
    justify-content: space-between;

}
.lista{
    list-style: none;
    padding-top: 0.5em;
}
.primer__item{
    padding: 2em;
}
